<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-dark" style="opacity: 0.95;" id="headerNav">
  <div class="container-fluid">
    <p class="text-white bold">CLINICA ONLINE</p>
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="../../../assets/heartbeat.gif" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="this.authService.userLogged === undefined" >
          <a class="nav-link text-white mx-2" routerLink="login">Ingresar</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="#">
            <img src="../../../assets/heartbeat.gif" height="80" />
          </a>
        </li>
        <li class="nav-item" *ngIf="this.authService.userLogged === undefined" >
          <a class="nav-link text-white mx-2" routerLink="register">Registrarse</a>
        </li>
        <!--SECCIÓN USUARIOS ADMIN -->
        <li *ngIf="this.authService.userLogged !== undefined && this.authService.userLogged.razon === '0'" class="nav-item dropdown">
          <a class="nav-link text-white mx-2 dropdown-toggle d-flex align-items-center justify-content-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>supervisor_account</mat-icon>Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/admin/create">Alta de Administrador</a></li>
            <li><a class="dropdown-item" routerLink="/admin/users">Aprobar Especialistas</a></li>
          </ul>
        </li>
        <!--END SECCIÓN USUARIOS ADMIN -->
        <li *ngIf="this.authService.userLogged !== undefined && this.authService.userLogged.razon !== '1'" class="nav-item">
          <a class="nav-link text-white mx-2 d-flex align-items-center justify-content-center" routerLink="request-turn"><mat-icon>add_circle</mat-icon>Solicitar Turno </a>
        </li>
        <li *ngIf="this.authService.userLogged !== undefined" class="nav-item">
          <a class="nav-link text-white mx-2 d-flex align-items-center justify-content-center" routerLink="profile"><mat-icon>account_circle</mat-icon>Mi Perfil</a>
        </li>
        <!--SECCIÓN USUARIOS PACIENTE -->
        <!--END SECCIÓN USUARIOS PACIENTE -->
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="this.authService.userLogged !== undefined" class="nav-item">
          <a class="nav-link text-white mx-2 d-flex align-items-center justify-content-center" (click)="this.onLogout()"><mat-icon>exit_to_app</mat-icon>Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>