<div class="container">
  <table class="table table-striped table-responsive table-bordered">
    <thead>
      <tr class="text-white">
        <th class="text-center">Fecha</th>
        <th class="text-center">Motivo</th>
        <th class="text-center">Especialidad</th>
        <th class="text-center">Especialista</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Encuesta</th>
        <th class="text-center">Rese&ntilde;a</th>
        <th class="text-center">Calificaci&oacute;n</th>
        <th class="text-center">Rese&ntilde;a Cancelado</th>
        <th class="text-center">Cancelado</th>
        <th class="text-center">Finalizado</th>
        <th *ngIf="this.user?.razon !== '2'" class="text-center">Historia Clínica</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-white" *ngFor="let turno of this.turns; let i = index">
        <td class="text-center">
          {{ turno.fecha | date: "dd/MM/yyyy hh:mm a" }}
        </td>
        <td class="text-center">{{ turno.motivo }}</td>
        <td class="text-center">{{ turno.especialidad }}</td>
        <td class="text-center">{{ turno.especialista }}</td>
        <td class="text-center">
          <select
            (change)="this.actualizarTurno(turno, $event.target, 'estado')"
            *ngIf="!turno.estado && this.user?.razon == '1'"
          >
            <option disabled selected>Elija</option>
            <option
              (click)="this.actualizarTurno(turno, 'Aceptado', 'estado')"
              value="Aceptado"
            >
              Aceptar
            </option>
            <option
              (click)="this.actualizarTurno(turno, 'Rechazado', 'estado')"
              value="Rechazado"
            >
              Rechazar
            </option>
          </select>
          <span *ngIf="turno.finalizado">Finalizado</span>
          <span *ngIf="!turno.finalizado && turno.estado">{{
            turno.estado
          }}</span>
        </td>
        <td class="text-center">
          <button
            *ngIf="
              (this.user?.razon === '2' && turno.finalizado) ||
              this.user?.razon === '1' ||
              this.user?.razon === '0'
            "
            (click)="this.prepararEncuesta(i)"
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#textModal"
          >
            Encuesta
          </button>
        </td>
        <td class="text-center">
          <button
            [disabled]="!turno.finalizado"
            (click)="this.prepararResenya(i)"
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#textModal"
          >
            Ver rese&ntilde;a
          </button>
        </td>
        <td class="text-center">
          <mat-slider
            *ngIf="this.user?.razon === '2'"
            thumbLabel
            min="1"
            max="5"
            step="1"
            [disabled]="turno.calificacion || !turno.finalizado"
            [value]="turno.calificacion ? turno.calificacion : 0"
            (valueChange)="
              this.actualizarTurnoValor(turno, $event, 'calificacion')
            "
          >
          </mat-slider>
          <span *ngIf="this.user?.razon != '2'">{{ turno.calificacion }}</span>
        </td>
        <td class="text-center">
            <button
            [disabled]="!turno.cancelado"
            (click)="this.prepararReseniaCancelado(turno)"
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#textModal"
            >
            Ver motivo
            </button>
        </td>
        <td class="text-center">
          <label for="cancelado">
            Cancelado:
            <input
              [disabled]="turno.finalizado"
              [(ngModel)]="turno.cancelado"
              (click)="this.actualizarTurnoChecked(turno, $event.target, 'cancelado')"
              data-bs-toggle="modal"
              data-bs-target="#textModal"
              type="checkbox"
              name="cancelado"
              id="cancelado"
            />
          </label>
        </td>
        <td class="text-center">
          <label *ngIf="turno.estado === 'Aceptado'" for="finalizado">
            <input
              *ngIf="this.user?.razon !== '2'"
              [(ngModel)]="turno.finalizado"
              (click)="this.finalizarTurno(turno, $event.target)"
              type="checkbox"
              name="finalizado"
              id="finalizado"
            />
            <span
              *ngIf="this.user?.razon === '2'"
              name="finalizado"
              id="finalizado"
            >{{ (this.turno.finalizado || this.turno.cancelado) ? 'Finalizado' : 'Pendiente' }}</span>
          </label>
        </td>
        <td *ngIf="this.user?.razon !== '2'">

          <button 
              *ngIf="turno.finalizado"
              class="btn btn-warning"
              (click)="this.settearFinalizado(turno)">
              Historia Clinica
          </button>
      </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="this.idFinalizado">
    <app-history
        [idTurno]="this.idFinalizado"></app-history>
  </div>

  <!-- Modal Reseña/Encuesta -->
  <div
    class="modal fade"
    id="textModal"
    tabindex="-1"
    aria-labelledby="textModalLabel"
    aria-hidden="true"
    data-bs-backdrop="false"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="this.encuesta" class="modal-title" id="textModalLabel">
            Actualizar Encuesta
          </h5>
          <h5 *ngIf="this.resenya" class="modal-title" id="textModalLabel">
            Actualizar Rese&ntilde;a
          </h5>
          <h5 *ngIf="this.turnoCancelado" class="modal-title" id="textModalLabel">
            ¿Por qué cancelaste el turno?
          </h5>
        </div>
        <div class="modal-body">
          <textarea
            [disabled]="!this.encuesta && !this.resenya && !this.turnoCancelado"
            class="w-100"
            [(ngModel)]="this.texto"
            name="texto"
            id="texto"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            *ngIf="this.encuesta && this.user?.razon === '1'"
            (click)="this.actualizarEncuesta()"
            type="button"
            class="btn btn-primary"
            [attr.data-bs-dismiss]="this.texto ? 'modal' : ''"
          >
            Guardar Encuesta
          </button>
          <button
            *ngIf="this.resenya && this.user?.razon === '2'"
            (click)="this.actualizarResenya()"
            type="button"
            class="btn btn-warning"
            [attr.data-bs-dismiss]="this.texto ? 'modal' : ''"
          >
            Guardar Rese&ntilde;a
          </button>
          <button
            *ngIf="this.turnoCancelado"
            (click)="this.actualizarReseniaCancelado()"
            type="button"
            class="btn btn-warning"
            [attr.data-bs-dismiss]="this.texto ? 'modal' : ''"
          >
            Guardar
          </button>
          <button
            [disabled]="this.turnoCancelado"
            (click)="salirDelModal()"
            data-bs-dismiss="modal"
            class="btn btn-danger"
          >
            Salir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
